body {
	background: rgb(0,0,70);
	background: linear-gradient(rgba(0,0,70,1) 0%, rgba(28,181,224,1) 100%);
	background-attachment: fixed;
	
}	
body .pg2{
	background: rgb(0,4,40);
	background: linear-gradient(180deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
	background-attachment: fixed;
	
}	
html,body{
	height: 100%;
	width: 100%;
}

nav{
	background: rgba(0,0,0,.3);
	padding: 1em;
	width: 80%; 
	border-radius: .4em;
}	
.contenido{
	margin: 0 auto;
	width: 80%;
}
.menu{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}
.menu li a{
	padding: 1em;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	color: #BEBEBE;
}
.menu li a:hover{
	color: #E8CBC0;
}	
.img1{
	background: url(img/a.jpg);
	height: 400px;
	width: 100%; 
	background-attachment: fixed;
}
.img2{
	background: url(img/b.jpg);
	height: 400px;
	width: 100%; 
	background-attachment: fixed;
}
.contenido p{
	font-family: 'Roboto', sans-serif;
	color: #E3E3E3;
	font-size: 1.5em; 
}
.contenido .p1{
	color: #9C9D9D;

}